{% extends 'master/layout.html' %}
{% from "auth/partials/renderFields.html" import render_field, render_button %}
{% block subtitle %} {{ user.id }}: {{ user.username }} {% endblock %}

{% block content %}
    <section class="content">
        <div class="row">

            <!--Edit Form-->
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Information here</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action=" {{ url_for('auth.edit', id=user.id) }}" method="POST">
                        <div class="box-body">
                            <div class="form-group">

                                {{ form.csrf_token }}

                                {{ render_field(form.username) }}

                                {{ render_field(form.password) }}

                                {{ render_field(form.privilege_level) }}

                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                {{ render_button(form.submit) }}
                            </div>

                    </form>
                </div>
            </div>
            <!--/.Edit Form-->

        </div>
    </section>
{% endblock %}