{% extends 'master/layout.html' %}
{% block title %} Now editing: {% endblock %}
{% block subtitle %} {{ user.id }}: {{ user.username }} {% endblock %}

{% block content %}
    <section class="content">
        <div class="row">

            <!--Edit Form-->
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Information here</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="{{ url_for('auth.edit') }}" method="POST">
                        <div class="box-body">
                            <div class="form-group">

                                {{ form.csrf_token }}

                                {{ render_field(form.username) }}

                                {{ render_field(form.password) }}

                                {{ render_field(form.privilege_level)}}

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>

                    </form>
                </div>
            </div>
            <!--/.Edit Form-->

            <!--Messages-->
            <div class="col-md-6">
                <div class="alert alert-warning">
                    <strong>Keep in mind</strong> You can't give privilege level higher than yours (#99).
                </div>
            </div>
            <!--/.Messages-->
        </div>
    </section>
{% endblock %}