{% extends 'master/layout.html' %}
{% block title %}Users{% endblock %}
{% block subtitle %}Register, Edit or Delete{% endblock %}
{% block content %}
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">

            <div class="col-md-12 pad">
                <a class="btn btn-primary" href="{{ url_for('auth.register') }}">Register new user</a>
            </div>

            <!-- User Lists -->
            <div class="col-md-6">
                <!-- Existing Admins -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Admins</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>username</th>
                                <th>Privilege Level</th>
                                <th style="width: 150px">Actions</th>
                            </tr>
                            {% for user in users %}
                                {% if user.privileges_level > 50 %}
                                    <tr>
                                        <td style="width: 10px">{{ user.id }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.privileges_level }}</td>
                                        <td>
                                            <a href="{{ url_for('auth.edit', id = user.id) }}" class="btn btn-sm btn-primary">Edit</a>
                                            <a href="{{ url_for('auth.delete', id = user.id) }}" class="btn btn-sm btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.Existing Admins -->
            </div>
            <div class="col-md-6">
                <!-- Existing Users -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Staff Users</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>username</th>
                                <th style="width: 150px">Actions</th>
                            </tr>
                            {% for user in users %}
                                {% if user.privileges_level < 50 %}
                                    <tr>
                                        <td style="width: 10px">{{ user.id }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>
                                            <a href="{{ url_for('auth.edit', id = user.id) }}" class="btn btn-sm btn-primary">Edit</a>
                                            <a href="{{ url_for('auth.delete', id = user.id) }}" class="btn btn-sm btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.Existing Users -->

            </div>
            <!-- /.User Lists -->

        </div>
        <!-- /.row -->

    </section>
{% endblock %}