{% include 'auth/partials/loginHeader.html' %}
{% from "auth/partials/renderFields.html" import render_field %}
<!--login-box-->
<div class="login-box">

    <!--login-logo-->
    <div class="login-logo"><strong>O- Bloodbank </strong>Sign in</div>
    <!--/.login-logo-->

    <!--box-body-->
    <div class="login-box-body">

        <!--login-form-->
        <form class="form-group" method="POST" action="{{ url_for('auth.login') }}" accept-charset="UTF-8" role="form">

            {{ form.csrf_token }}

            {{ render_field(form.username) }}

            {{ render_field(form.password) }}


            <div class="row">
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" value="submit">Sign in</button>
                </div>
            </div>

        </form>
        <!--/.login-form-->

    </div>
    <!--/.box-body-->

</div>
<!--/.login-box-->
{% include 'master/partials/flashMessages.html' %}
{% include 'auth/partials/loginFooter.html' %}

<!--Hidden commented errors for testing -->
{% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}<!--
        Errors:
                {%- for msg in errors %}
                    {{ msg }} -
                {% endfor %}
    -->{% endif %}
{% endwith %}
{% with success = get_flashed_messages(category_filter=["success"]) %}
    {% if success %}<!--
        Success:
                {%- for msg in success %}
                    {{ msg }}
                {% endfor %}
    -->{% endif %}
{% endwith %}

{% with warnings = get_flashed_messages(category_filter=["warning"]) %}
    {% if warnings %}<!--
        Warnings:
                {%- for msg in warnings %}
                    {{ msg }}
                {% endfor %}
    -->{% endif %}
    {% endwith %}
<!--./ Hidden commented errors for testing -->