{% extends 'master/layout.html' %}
{% from "auth/partials/renderFields.html" import render_field, render_button %}

{% block content %}
    <section class="content">

        <!-- 1st column -->
        <div class="col-md-6">

            <!-- form row -->
            <div class="row">

                <!-- Registration Form -->
                <form action="{{ url_for('auth.edit', id=donor.id) }}" method="POST">

                    {{ form.csrf_token }}

                    <!-- box-body-primary-->
                    <div class="box box-primary">

                        <!-- Form Header -->
                        <div class="box-header with-border">
                            <h3 class="box-title">Update Donor Form</h3>
                        </div>
                        <!--./ Form Header -->

                        <!-- Form body -->
                        <div class="box-body">

                            <div class="row">
                                <div class="col-md-12">General Information</div>
                                <div class="form-group">
                                    <div class="col-sm-4 pad">
                                        {{ render_field(form.insurance_id) }}
                                    </div>
                                    <div class="col-sm-4 pad">
                                        {{ render_field(form.first_name) }}
                                    </div>
                                    <div class="col-sm-4 pad">
                                        {{ render_field(form.last_name) }}
                                    </div>
                                    <div class="col-sm-4 pad">
                                        {{ render_field(form.gender) }}
                                    </div>
                                    <div class="col-sm-4 pad">
                                        {{ render_field(form.bloodtype) }}
                                    </div>
                                    <div class="col-sm-4 pad">
                                            {{ render_field(form.dob) }}
                                    </div>
                                </div>
                                <div class="col-md-12">Contact Information</div>
                                <div class="form-group">
                                    <div class="col-sm-6 pad">
                                        {{ render_field(form.address) }}
                                    </div>
                                    <div class="col-sm-6 pad">
                                        {{ render_field(form.city) }}
                                    </div>
                                    <div class="col-sm-4 pad">
                                        {{ render_field(form.state) }}
                                    </div>
                                    <div class="col-sm-4 pad">
                                        {{ render_field(form.zip_code) }}
                                    </div>
                                    <div class="col-sm-4 pad">
                                        {{ render_field(form.contact_number) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 pad">
                                        {{ render_button(form.submit) }}
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- /.Form-body -->
                    </div>
                    <!-- /.box-body-primary -->

                </form>

                <!--/. Registration Form -->

            </div>
            <!-- /.form row -->

        </div>
        <!--/. 1st column -->

    </section>
{% endblock %}