{% extends 'master/layout.html' %}
{% block content %}
    <section id="content">
        <!--first-row-->

        <div class="row">
            <div class="col-md-6">
                <!-- Donors Search -->
                {% include 'master/partials/donors_search.html' %}
                <!-- /.Donors Search -->
            </div>
            <div class="col-md-6">

                <!-- register new donor -->
                <div class="col-md-12">
                    <a href="{{ url_for('donors.register') }}">
                        <!-- small box -->
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3><strong>Register </strong></h3>
                                <h4>a donor</h4>
                            </div>
                            <div class="icon">
                                <i class="ion ion-plus"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <!--./ register new donor -->

                <!-- view Bloodtypes -->
                <div class="col-md-12">
                    <!-- small box -->
                    <a href="{{ url_for('inventory.index') }}">
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3><strong>Bloodtypes </strong></h3>
                                <h4>overview</h4>
                            </div>
                            <div class="icon">
                                <i class="ion ion-waterdrop"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <!--./ view bloodtypes -->

            </div>
        </div>
        <!--./first-row-->





        <!-- Recent Donations -->
        {% if donors %}
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Seach Results</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Insurance Number</th>
                                <th>Name</th>
                                <th>BloodType</th>
                                <th>Contact Number</th>
                                <th>Actions</th>
                            </tr>


                            {% for donor in donors %}
                                <tr>
                                    <td>{{ donor.id }}</td>
                                    <td>{{ donor.insurance_number }}</td>
                                    <td>{{ donor.first_name }} {{ donor.last_name }}</td>
                                    <td>{{ donor.bloodtype }}</td>
                                    <td>{{ donor.contact_number }}</td>
                                    <td>
                                        <a class="btn btn-sm btn-primary"
                                           href="{{ url_for('donors.view', id=donor.id) }}">
                                            View
                                        </a>
                                        <a class="btn btn-sm btn-warning"
                                           href="{{ url_for('donors.edit', id=donor.id) }}">
                                            Edit
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        {% endif %}
        <!-- /.Recent Donations -->

    </section>
{% endblock %}