{% extends 'master/layout.html' %}
{% block title %}#FullName{% endblock %}
{% block subtitle %}information {% endblock %}
{% block content %}
    <section id="content">
        <p>&nbsp;</p>

        <!--first-row-->
        <div class="col-md-12">
            <div class="row">
                <!--donors-info-->
                <div class="col-sm-6">

                    <!--donor-details-->
                    {% include 'donors/partials/donorsInfo.html' %}
                    <!--/.donor-details-->

                    <!--donor-transactions-->
                    {% include 'donors/partials/balance.html' %}
                    <!--/.donor-transactions-->


                </div>
                <!--/.donors-info-->

                <!--make-transaction-->
                <div class="col-sm-6">

                    <!--donation-form-->
                    <div class="col-sm-12">
                        {% include 'donors/partials/donationForm.html' %}
                    </div>
                    <!--/.donation-form-->

                    <!--withdrawal-form-->
                    <div class="col-sm-12">
                        {% include 'donors/partials/withdrawalForm.html' %}
                    </div>
                    <!--/.withdrawal-form-->

                </div>
                <!--/.make-transaction-->
            </div>

        </div>
        <!--/.first-row-->

        <!--second_row-->
        <div class="col-sm-12">
            <h2>Transactions History</h2>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Recent Donation History</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th>Date</th>
                                    <th>Mililliters</th>

                                </tr>
                                <tr>
                                    <td>Friday 15 December 2017</td>
                                    <td>850</td>

                                </tr>
                                <tr>
                                    <td>Friday 15 December 2017</td>
                                    <td>850</td>

                                </tr>
                                <tr>
                                    <td>Friday 15 December 2017</td>
                                    <td>850</td>

                                </tr>
                                <tr>
                                    <td>Friday 15 December 2017</td>
                                    <td>850</td>

                                </tr>
                                <tr>
                                    <td>Friday 15 December 2017</td>
                                    <td>850</td>

                                </tr>
                                <tr>
                                    <td>Friday 15 December 2017</td>
                                    <td>850</td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Recent Withdrawal History</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th>Date</th>
                                    <th>Mililliters</th>
                                    <th>Blood Type Received</th>

                                </tr>
                                <tr>
                                    <td>Friday 15 December 2017</td>
                                    <td>850</td>
                                    <td>B+</td>

                                </tr>
                                <tr>
                                    <td>Friday 15 December 2017</td>
                                    <td>850</td>
                                    <td>B+</td>

                                </tr>
                                <tr>
                                    <td>Friday 15 December 2017</td>
                                    <td>850</td>
                                    <td>B+</td>

                                </tr>
                                <tr>
                                    <td>Friday 15 December 2017</td>
                                    <td>850</td>
                                    <td>B+</td>

                                </tr>
                                <tr>
                                    <td>Friday 15 December 2017</td>
                                    <td>850</td>
                                    <td>B+</td>

                                </tr>
                                <tr>
                                    <td>Friday 15 December 2017</td>
                                    <td>850</td>
                                    <td>B+</td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
        <!--/.second_row-->

    </section>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
        }
    </script
{% endblock %}