{% extends 'master/layout.html' %}
{% from 'auth/partials/renderFields.html' import render_button, render_field %}
{% block subtitle %}information {% endblock %}
{% block content %}
    <section id="content">
        <p>&nbsp;</p>

        <!--first-row-->
        <div class="col-md-12">
            <div class="row">
                <!--donors-info-->
                <div class="col-sm-6">

                    <!--donor-details-->
                    {% include 'donors/partials/donorsInfo.html' %}
                    <!--/.donor-details-->

                    <!--donor-transactions-->
                    {% include 'donors/partials/balance.html' %}
                    <!--/.donor-transactions-->


                </div>
                <!--/.donors-info-->

                <!--actions-->
                <div class="col-sm-6">

                    <!--donation-form-->
                    <div class="col-sm-12">
                        <h1>Available Actions</h1>
                        <a class="btn btn-block btn-success" href="{{ url_for('transactions.donate', id=donor.id) }}">
                            Make a donation
                        </a>
                        <a class="btn btn-block btn-primary" href="{{ url_for('transactions.withdraw', id=donor.id) }}">
                            Make a withdrawal
                        </a>
                        <a class="btn btn-block btn-warning" href="{{ url_for('donors.edit', id=donor.id) }}">
                            Edit {{ donor.first_name }} {{ donor.last_name }} 's Information
                        </a>
                        <a class="btn btn-block btn-danger" href="{{ url_for('donors.delete', id=donor.id) }}">
                            Delete {{ donor.first_name }} {{ donor.last_name }}
                        </a>

                    </div>
                    <!--/.donation-form-->

                </div>
                <!--/.actions-->
            </div>

        </div>
        <!--/.first-row-->

        <!--second_row-->
        <div class="col-sm-12">
            <h2>Transactions History</h2>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Recent Donation History</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th style="width: 80%">Date</th>
                                    <th>Mililliters</th>

                                </tr>
                                {% for donation in donations %}
                                <tr>
                                <td>{{ donation.date_created.strftime('%A %d. %B %Y') }}</td>
                                <td>{{ donation.milliliters }}</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Recent Withdrawal History</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th style="width: 80%">Date</th>
                                    <th>Mililliters</th>

                                </tr>
                                {% for withdrawal in withdrawals %}
                                <tr>
                                <td>{{ withdrawal.date_created.strftime('%A %d. %B %Y') }}</td>
                                <td>{{ withdrawal.milliliters }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
        <!--/.second_row-->

    </section>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
        }
    </script
{% endblock %}