{% from "auth/partials/renderFields.html" import render_field, render_button %}
<div class="col-md-12">

    <div class="box box-primary">
            <!--box-header -->
            <div class="box-header with-border">
                <h3 class="box-title">Search Donors</h3>
            </div>
            <!-- /.box-header -->

        <form class="" method="POST" action="{{ url_for('donors.index') }}">
            {{ form.csrf_token }}
            <!-- box-body -->
            <div class="box-body">
                <div class="col-md-12">
                    {{ render_field(form.input) }}
                </div>
            </div>
            <!-- /.box-body -->

            <!--box-footer -->
            <div class="box-footer">
                <div class="col-md-3">
                    {{ render_button(form.submit) }}
                </div>
            </div>
            <!-- /.box-footer -->
            </form>
    </div>

</div>