<div class="col-md-12">
    <div class="box box-primary">

        <!--box-header -->
        <div class="box-header with-border">
            <h3 class="box-title">Search Donors</h3>
        </div>
        <!-- /.box-header -->

        <!-- search-form -->
        <form class="form-horizontal">

            <!-- box-body -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputFirstName" placeholder="search by first name">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputLastName" placeholder="search by last name">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputLastName"
                                       placeholder="search by phone number">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->

            <!--box-footer -->
            <div class="box-footer">
                <div class="col-md-6 col-md-offset-3">
                    <button type="button" class="btn btn-primary btn-block btn-flat">
                        <span class="fa fa-search"></span> Search
                    </button>
                </div>
            </div>
            <!-- /.box-footer -->

        </form>
        <!-- /.search-form -->
    </div>

</div>