{% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
        <div id="flash-message" class="alert alert-danger">
            <ul>
                {%- for msg in errors %}
                    <li>{{ msg }}</li>
                {% endfor -%}
            </ul>
        </div>
    {% endif %}
{% endwith %}

{% with success = get_flashed_messages(category_filter=["success"]) %}
    {% if success %}
        <div id="flash-message" class="alert alert-success">
            <ul>
                {%- for msg in success %}
                    <li>{{ msg }}</li>
                {% endfor -%}
            </ul>
        </div>
    {% endif %}
{% endwith %}

{% with warnings = get_flashed_messages(category_filter=["warning"]) %}
    {% if warnings %}
        <div id="flash-message" class="alert alert-warning">
            <ul>
                {%- for msg in warnings %}
                    <li>{{ msg }}</li>
                {% endfor -%}
            </ul>
        </div>
    {% endif %}
{% endwith %}