<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <div class="form-group text-center">
            <h4 style="color:white;"> Hello,
                {% if current_user.is_admin %}
                <span style="font-weight: 600; color: #f3e97a">
                    {% endif %}
                {{ current_user.username }}
            {% if current_user.is_admin %}
                </span>
                    {% endif %}
            </h4>
        </div>


        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="active">
                <a href="{{ url_for('main.index') }}">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
            <li class="header">TRANSACTIONS</li>

            <li class="treeview">
                <a href="{{ url_for('donors.index') }}">
                    <i class="fa fa-users"></i> <span>Donors</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu" style="">
                    <li class=""><a href="{{ url_for('donors.index') }}"><i class="fa fa-circle-o"></i>Overview</a></li>
                    <li class=""><a href="{{ url_for('donors.register') }}"><i class="fa fa-plus"></i>Register</a></li>
                </ul>
            </li>
            <li class="">
                <a href="{{ url_for('inventory.index') }}">
                    <i class="fa fa-tint"></i> <span>Inventory</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
            <li class="header">APPLICATION</li>

            {% if current_user.is_admin %}
            <li class="">
                <a href="{{ url_for('auth.index') }}">
                    <i class="fa fa-users"></i> <span>Users</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
            {% endif %}

            <li class="">
                <a href="{{ url_for('auth.logout') }}">
                    <i class="fa fa-sign-out"></i> <span>Logout</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
