{% extends 'master/layout.html' %}
{% block subtitle %}General Info{% endblock %}
{% block content %}
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            {% include 'bloodtypes/partials/bloodtypeSynopsis.html' %}
        </div>
        <!-- /.row -->

        <!-- second section -->
        <div class="row">
            <!-- Recent Donations -->
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Recent Transactions</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Donor</th>
                                <th>Type</th>
                                <th style="width: 40px">Quantity</th>
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td>George Kokkos</td>
                                <td>
                                    <div class="fa fa-arrow-up" style="color:limegreen"></div> Donation
                                </td>
                                <td><span class="badge bg-green">850 ml</span></td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Markos Seferlis</td>
                                <td>
                                    <div class="fa fa-arrow-down" style="color:red"></div> Withdrawal
                                </td>
                                <td><span class="badge bg-red">450 ml</span></td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>George Kokkos</td>
                                <td>
                                    <div class="fa fa-arrow-up" style="color:limegreen"></div> Donation
                                </td>
                                <td><span class="badge bg-green">850 ml</span></td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>Markos Seferlis</td>
                                <td>
                                    <div class="fa fa-arrow-down" style="color:red"></div> Withdrawal
                                </td>
                                <td><span class="badge bg-red">450 ml</span></td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>George Kokkos</td>
                                <td>
                                    <div class="fa fa-arrow-up" style="color:limegreen"></div> Donation
                                </td>
                                <td><span class="badge bg-green">850 ml</span></td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>Markos Seferlis</td>
                                <td>
                                    <div class="fa fa-arrow-down" style="color:red"></div> Withdrawal
                                </td>
                                <td><span class="badge bg-red">450 ml</span></td>
                            </tr>
                            <tr>
                                <td>7.</td>
                                <td>George Kokkos</td>
                                <td>
                                    <div class="fa fa-arrow-up" style="color:limegreen"></div> Donation
                                </td>
                                <td><span class="badge bg-green">850 ml</span></td>
                            </tr>
                            <tr>
                                <td>8.</td>
                                <td>Markos Seferlis</td>
                                <td>
                                    <div class="fa fa-arrow-down" style="color:red"></div> Withdrawal
                                </td>
                                <td><span class="badge bg-red">450 ml</span></td>
                            </tr>
                            <tr>
                                <td>9.</td>
                                <td>George Kokkos</td>
                                <td>
                                    <div class="fa fa-arrow-up" style="color:limegreen"></div> Donation
                                </td>
                                <td><span class="badge bg-green">850 ml</span></td>
                            </tr>
                            <tr>
                                <td>10.</td>
                                <td>Markos Seferlis</td>
                                <td>
                                    <div class="fa fa-arrow-down" style="color:red"></div> Withdrawal
                                </td>
                                <td><span class="badge bg-red">450 ml</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.Recent Donations -->
            <!-- New Donors -->
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">New Donors</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th style="width: 50px">BT</th>
                                <th>Registered on</th>
                            </tr>
                            {% for donor in recent_donors %}
                            <tr>
                                <td>{{ donor.id }}</td>
                                <td><a href="#">{{ donor.last_name }} {{ donor.first_name }}</a></td>
                                <td>{{ donor.age }}</td>
                                <td><span class="badge bg-red">{{ donor.bloodtype.name }}</span></td>
                                <td>
                                    {{ donor.date_created.strftime('%d-%m-%Y') }}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.New Donors -->
        </div>
        <!-- /.second_section -->

    </section>
{% endblock %}