@-webkit-keyframes flash-message {
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;display: none;}
}

@-moz-keyframes flash-message {
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;display: none;}
}

@-o-keyframes flash-message {
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;display: none;}
}

@keyframes flash-message {
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;display: none;}
}

#flash-message {
    bottom: 50px;
    position: fixed !important;
    right: 50px;
    z-index: 100;
    animation: flash-message 10s forwards;
}