{% extends 'master/layout.html' %}
{% from 'auth/partials/renderFields.html' import render_button, render_field %}
{% block subtitle %}information {% endblock %}
{% block content %}
    <p></p>
    <section id="content">

        <!--first-row-->
        <div class="col-md-12">
            <div class="row">
                <!--donors-info-->
                <div class="col-sm-6">

                    <!--donation-form -->
                    {% include 'transactions/partials/donationForm.html' %}
                    <!--/.donation-form -->

                </div>
                <!--/.donors-info-->

            </div>

        </div>
        <!--/.first-row-->
    </section>
{% endblock %}