<div class="box box-warning">
    <div class="box-header">
        <h3 class="box-title">Transactions Balance</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <div class="col-sm-4">
            <h4><strong>Donated</strong> :<br> 6320 ml</h4>
        </div>
        <div class="col-sm-4">
            <h4><strong>Withdrawn</strong> :<br> 1820 ml</h4>
        </div>
        <div class="col-sm-4">
            <h4><strong>Balance</strong> :<br> 4500 ml</h4>
        </div>

    </div>
    <!-- /.box-body -->
</div>