<div class="box box-warning">
    <div class="box-header">
        <h3 class="box-title">Transactions Balance</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <div class="col-sm-4">
            <h4><strong>Donated</strong> :<br> {{ donor.milliliters_donated }}</h4>
        </div>
        <div class="col-sm-4">
            <h4><strong>Withdrawn</strong> :<br> {{ donor.milliliters_withdrawn }}</h4>
        </div>
        <div class="col-sm-4">
            <h4><strong>Balance</strong> :<br> {{ donor.milliliters_donated - donor.milliliters_withdrawn}}</h4>
        </div>

    </div>
    <!-- /.box-body -->
</div>