<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Donation</h3>
    </div>
    <div class="box-body">
        <form class="form-group">

            <div class="row">
                <input type="hidden" value="blood.id" name="bloodtypeInput">

                <div class="col-sm-8">
                    <input type="number" class="form-control"
                           placeholder="donation amount in milliliters">
                </div>


                <div class="col-sm-4">
                    <button type="submit" class="btn btn-block btn-success" value="">
                        <span class="fa fa-tint"></span>
                        Make Donation
                    </button>
                </div>
            </div>

        </form>
    </div>
    <!-- /.box-body -->
</div>