<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Donor's info</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">

        <div class="col-sm-12">
            <h4><strong>Full Name</strong> :<br> {{ donor.last_name }} {{ donor.first_name }}</h4>
        </div>
        <div class="col-sm-4">
            <h4><strong>Birth Date (Age)</strong> :<br> {{ donor.dob }} ({{ donor.age }})</h4>
        </div>
        <div class="col-sm-4">
            <h4><strong>Gender</strong> :<br> {{ donor.gender }}</h4>
        </div>
        <div class="col-sm-4">
            <h4><strong>Blood Type</strong> :<br> {{ donor.bloodtype }}</h4>
        </div>
        <div class="col-sm-8">
            <h4><strong>Adress</strong> :<br> {{ donor.address }}, {{ donor.city }}, {{ donor.state }}, {{ donor.zip_code }}</h4>
        </div>
    </div>
    <!-- /.box-body -->
</div>