<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Donor's info</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">

        <div class="col-sm-12">
            <h4><strong>Full Name</strong> :<br> Winschonchin John</h4>
        </div>
        <div class="col-sm-4">
            <h4><strong>Birthdate</strong> :<br> 16/10/1989 (28)</h4>
        </div>
        <div class="col-sm-4">
            <h4><strong>Gender</strong> :<br> Transgender ex-Female</h4>
        </div>
        <div class="col-sm-4">
            <h4><strong>Blood Type</strong> :<br> B1</h4>
        </div>
        <div class="col-sm-8">
            <h4><strong>Adress</strong> :<br> Ipparchou 36, Athens, Attica, 11743</h4>
        </div>
    </div>
    <!-- /.box-body -->
</div>