{% from "auth/partials/renderFields.html" import render_field, render_button %}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Register New User</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" action="{{ url_for('auth.register') }}" method="POST">


        <div class="box-body">

            {{ form.csrf_token }}

            {{ render_field(form.username) }}

            {{ render_field(form.password) }}

            {{ render_field(form.confirm_password) }}

            {{ render_field(form.privilege_level) }}


        </div>
        <!-- /.box-body -->
        <div class="box-footer">
                        {{ render_button(form.submit) }}
            {#            <button type="submit" class="btn btn-primary btn-block btn-flat" value="submit">Register User</button>#}
        </div>


    </form>


</div>