{% extends 'master/layout.html' %}
{% block title %}Inventory{% endblock %}
{% block subtitle %}remaining quantity and recent transactions{% endblock %}
{% block content %}
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            {% include 'bloodtypes/partials/bloodtypeSynopsis.html' %}
        </div>
        <!-- /.row -->

        <!-- second-section -->
        <div class="row">
            <!-- Recent Donations -->
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Recent donations</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Donor</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th style="width: 40px">Quantity</th>
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td>George Kokkos</td>
                                <td>12/12/2017</td>
                                <td>13:10</td>
                                <td><span class="badge bg-green">850 ml</span></td>
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td>George Kokkos</td>
                                <td>12/12/2017</td>
                                <td>13:10</td>
                                <td><span class="badge bg-green">850 ml</span></td>
                            </tr><tr>
                                <td>1.</td>
                                <td>George Kokkos</td>
                                <td>12/12/2017</td>
                                <td>13:10</td>
                                <td><span class="badge bg-green">850 ml</span></td>
                            </tr><tr>
                                <td>1.</td>
                                <td>George Kokkos</td>
                                <td>12/12/2017</td>
                                <td>13:10</td>
                                <td><span class="badge bg-green">850 ml</span></td>
                            </tr><tr>
                                <td>1.</td>
                                <td>George Kokkos</td>
                                <td>12/12/2017</td>
                                <td>13:10</td>
                                <td><span class="badge bg-green">850 ml</span></td>
                            </tr><tr>
                                <td>1.</td>
                                <td>George Kokkos</td>
                                <td>12/12/2017</td>
                                <td>13:10</td>
                                <td><span class="badge bg-green">850 ml</span></td>
                            </tr><tr>
                                <td>1.</td>
                                <td>George Kokkos</td>
                                <td>12/12/2017</td>
                                <td>13:10</td>
                                <td><span class="badge bg-green">850 ml</span></td>
                            </tr><tr>
                                <td>1.</td>
                                <td>George Kokkos</td>
                                <td>12/12/2017</td>
                                <td>13:10</td>
                                <td><span class="badge bg-green">850 ml</span></td>
                            </tr><tr>
                                <td>1.</td>
                                <td>George Kokkos</td>
                                <td>12/12/2017</td>
                                <td>13:10</td>
                                <td><span class="badge bg-green">850 ml</span></td>
                            </tr><tr>
                                <td>1.</td>
                                <td>George Kokkos</td>
                                <td>12/12/2017</td>
                                <td>13:10</td>
                                <td><span class="badge bg-green">850 ml</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.Recent Donations -->
            <!-- Recent Withdrawals -->
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Recent withdrawals</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Donor</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th style="width: 40px">Quantity</th>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Markos Seferlis</td>
                                <td>12/12/2017</td>
                                <td>15:40</td>
                                <td><span class="badge bg-red">450 ml</span></td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Markos Seferlis</td>
                                <td>12/12/2017</td>
                                <td>15:40</td>
                                <td><span class="badge bg-red">450 ml</span></td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Markos Seferlis</td>
                                <td>12/12/2017</td>
                                <td>15:40</td>
                                <td><span class="badge bg-red">450 ml</span></td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Markos Seferlis</td>
                                <td>12/12/2017</td>
                                <td>15:40</td>
                                <td><span class="badge bg-red">450 ml</span></td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Markos Seferlis</td>
                                <td>12/12/2017</td>
                                <td>15:40</td>
                                <td><span class="badge bg-red">450 ml</span></td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Markos Seferlis</td>
                                <td>12/12/2017</td>
                                <td>15:40</td>
                                <td><span class="badge bg-red">450 ml</span></td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Markos Seferlis</td>
                                <td>12/12/2017</td>
                                <td>15:40</td>
                                <td><span class="badge bg-red">450 ml</span></td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Markos Seferlis</td>
                                <td>12/12/2017</td>
                                <td>15:40</td>
                                <td><span class="badge bg-red">450 ml</span></td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Markos Seferlis</td>
                                <td>12/12/2017</td>
                                <td>15:40</td>
                                <td><span class="badge bg-red">450 ml</span></td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Markos Seferlis</td>
                                <td>12/12/2017</td>
                                <td>15:40</td>
                                <td><span class="badge bg-red">450 ml</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.Recent Withdrawals -->
        </div>
        <!-- /.second-section -->

    </section>
{% endblock %}